<HTML>
<HEAD>
<TITLE>Manual de Uso -  Browser de Episodios - Indice </TITLE> <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1"> 
<script language="JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script> 
</HEAD>

<BODY BGCOLOR="#f0f3e9" TEXT="#000000" ONLOAD="MM_preloadImages('pics/bt_contactenos1.jpg','pics/bt_ayuda1.jpg','pics/bt_salir1.jpg')" LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0" HEIGHT="100%"> 
<TR> <TD VALIGN="top"> <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0"> 
<TR> <TD WIDTH="54%" BACKGROUND="pics/fondotitu.jpg"><A NAME="arriba"></A></TD><TD WIDTH="46%" BACKGROUND="pics/fondotitu.jpg"> 
<DIV ALIGN="right"></DIV></TD></TR> </TABLE><TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0"> 
<TR> <TD WIDTH="88%" BACKGROUND="pics/fondobarratop.jpg"><BLOCKQUOTE><P><FONT COLOR="#660000"><B><FONT SIZE="3" FACE="Verdana, Arial, Helvetica, sans-serif" COLOR="#FFFFFF">MANUAL 
DE USO</FONT></B></FONT></P></BLOCKQUOTE></TD><TD WIDTH="12%" BACKGROUND="pics/fondobarratop.jpg"> 
<DIV ALIGN="left"><A HREF="mailto:info@mail.com" ONMOUSEOUT="MM_swapImgRestore()" ONMOUSEOVER="MM_swapImage('Image42','','pics/bt_contactenos1.jpg',1)"><IMG NAME="Image42" BORDER="0" SRC="pics/bt_contactenos.jpg" WIDTH="90" HEIGHT="28"></A><A HREF="javascript:submitVolver()" ONMOUSEOUT="MM_swapImgRestore()" ONMOUSEOVER="MM_swapImage('Image41','','pics/bt_salir1.jpg',1)"><IMG NAME="Image41" BORDER="0" SRC="pics/bt_salir.jpg" WIDTH="42" HEIGHT="28" ALT="Salir de la Aplicaci&oacute;n"></A><IMG SRC="pics/fondobarratop.jpg" WIDTH="9" HEIGHT="28"></DIV></TD></TR> 
</TABLE><TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0"> <TR> <TD BACKGROUND="pics/sombra_top.jpg"><IMG SRC="pics/sombra_top.jpg"></TD></TR> 
</TABLE><TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="center"> 
<TR> <TD COLSPAN="3" HEIGHT="8"> <TABLE CELLSPACING=0 CELLPADDING=0 WIDTH=100% BORDER=0> 
<TBODY> <TR> <TD WIDTH=14 BACKGROUND=pics/drwd_topbgr1.gif 
      BGCOLOR=#fcfdfa><IMG HEIGHT=11 
      SRC="pics/drwd_topleftcorner.gif" WIDTH=5></TD><TD BACKGROUND=pics/drwd_topbgr1.gif 
      BGCOLOR=#fcfdfa><IMG HEIGHT=8 SRC="pics/spacer.gif" 
    WIDTH=287></TD><TD WIDTH=21 nowrap> <DIV ALIGN="right"><IMG HEIGHT=11 SRC="pics/drwd_toprightcorner.gif" 
      WIDTH=24></DIV></TD></TR> </TBODY> </TABLE></TD></TR> <TR> <TD COLSPAN="3"> 
<TABLE CELLSPACING=0 CELLPADDING=0 WIDTH=100% BORDER=0 HEIGHT="1"> <TBODY> <TR> 
<TD NOWRAP HEIGHT="9" BACKGROUND="pics/drwd_mdlleftcorner.gif" WIDTH=1><IMG HEIGHT=13 SRC="pics/drwd_mdlleftcorner.gif" 
      WIDTH=5></TD><TD ALIGN=right WIDTH=58 BGCOLOR=#fcfdfa HEIGHT="9"><FONT SIZE="-5"><IMG HEIGHT=13 
      SRC="pics/drwd_iconnews.gif" WIDTH=13></FONT></TD><TD BGCOLOR=#fcfdfa HEIGHT="9"><FONT COLOR="#660000" SIZE="-5"><B></B></FONT></TD><TD WIDTH=1 HEIGHT="9" nowrap BGCOLOR="#FFFFFF"> 
<DIV ALIGN="right"><IMG HEIGHT=13 SRC="pics/drwd_mdlrightcorner.gif" 
      WIDTH=24></DIV></TD></TR> </TBODY> </TABLE></TD></TR> <TR> <TD WIDTH=25 BACKGROUND=pics/btwd_mdlbgr1.gif 
      BGCOLOR=#f0f3e9><IMG HEIGHT=1 SRC="pics/spacer.gif" 
    WIDTH=25></TD><TD BGCOLOR="#f0f3e9" WIDTH="883"> <DIV ALIGN="center"> <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="center"> 
<TR> <TD> <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0"> <TR><TD nowrap ALIGN="left" WIDTH="5%">&nbsp;</TD><%
     String paramSistema = request.getParameter("sistema");
     String sistema = null;
     
     Vector vectorEncuentros = busquedaEncuentros.getListaEncuentros();
     int max = vectorEncuentros.size();
     EncuentroSalud unEncuentro = null;
     if(max>0){
      LogFile.log("encuentrosAll max="+max);
      for(int k = 0; k < max; k++) {
       unEncuentro = (EncuentroSalud) (vectorEncuentros.elementAt(k));
       sistema = unEncuentro.sistema().nombreSistema(); 
    %> <TD COLSPAN="2" nowrap ALIGN="left" WIDTH="95%"> <FONT SIZE="2" FACE="Verdana, Arial, Helvetica, sans-serif"> 
</FONT></TD></TR> <% if(((EncuentroSalud)unEncuentro).idEncuentro().equals(encuentroActual)) {%> 
<%
	Vector vectorActividades = busquedaActividades.getListaActividades();
	int limite = vectorActividades.size();
	
	if(limite>0){	
	 for (int h = 0; h < limite; h++) {
           ActividadSalud unaActividad = (ActividadSalud) vectorActividades.elementAt(h);
	 %> <% }} else{ %> <TR><TD WIDTH="5%" VALIGN="TOP"><P ALIGN="right"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="#660000"><B>1</B></FONT></P><P ALIGN="right"><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="#660000">2</FONT></B></P><P ALIGN="right"><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="#660000">3</FONT></B></P><P ALIGN="right"><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="#660000">4</FONT></B></P><P ALIGN="right"><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="#660000">4.1</FONT></B><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="#660000"><BR> 
4.2<BR> 4.3</FONT></B><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="#660000"><BR></FONT></B><BR> 
<B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="#660000">7<BR> 
</FONT></B></P><P ALIGN="right"><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="#660000">8<BR> 
</FONT></B></P><P ALIGN="right"><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="#660000">9</FONT></B></P></TD><TD WIDTH="95%" COLSPAN="2"><P><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"><B><FONT COLOR="#FFFFFF"><A HREF="login.htm">Login</A></FONT></B></FONT></P><P><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2" COLOR="#FFFFFF"><A HREF="busqueda.htm">B&uacute;squeda</A></FONT></B></P><P><FONT COLOR="#FFFFFF"><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"><A HREF="resultados.htm">Resultados 
de B&uacute;squeda</A></FONT></B></FONT></P><P><FONT COLOR="#FFFFFF"><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"><A HREF="modos.htm">Modos 
de Visualizaci&oacute;n</A></FONT></B></FONT></P><BLOCKQUOTE><P><FONT COLOR="#FFFFFF"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"><A HREF="episodio.htm">Episodio</A></FONT><BR> 
</FONT><FONT COLOR="#FFFFFF"><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"><A HREF="encuentros.htm">Encuentros</A><BR> 
<A HREF="actividades.htm">Actividades</A></FONT></FONT></P></BLOCKQUOTE><P><FONT COLOR="#FFFFFF"><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"><A HREF="alergias.htm">Alergias</A><BR> 
</FONT></B></FONT></P><P><FONT COLOR="#FFFFFF"><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"><A HREF="factores.htm">Factores 
de Riesgo</A><BR> </FONT></B></FONT></P><P><FONT COLOR="#FFFFFF"><B><FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="2"><A HREF="financiadores.htm">Financiadores</A></FONT></B></FONT></P></TD></TR> 
<%}} else {%> <% } %> <% }} else {%> <% }%> </TABLE></TD></TR> </TABLE></DIV></TD><TD WIDTH=31 BACKGROUND=pics/btwd_mdlbgr2.gif> 
<DIV ALIGN="right"><IMG SRC="pics/btwd_mdlbgr2.gif" WIDTH="30" HEIGHT="100%"></DIV></TD></TR> 
<TR> <TD COLSPAN="3" BACKGROUND=pics/btwd_mdlbgr1.gif> <TABLE CELLSPACING=0 CELLPADDING=0 WIDTH=100% BORDER=0> 
<TBODY> <TR> <TD WIDTH=5><IMG HEIGHT=26 SRC="pics/btwd_btmleftcorner.gif" 
      WIDTH=5></TD><TD WIDTH=1 BACKGROUND=pics/btwd_btmbgr1.gif nowrap><IMG HEIGHT=26 
      SRC="pics/btwd_btmmiddle.gif" WIDTH=26></TD><TD BACKGROUND=pics/btwd_btmbgr1.gif><IMG HEIGHT=1 
      SRC="pics/spacer.gif" WIDTH=255><TABLE WIDTH="70%" BORDER="0" CELLSPACING="0" CELLPADDING="0" ALIGN="RIGHT"><TR><TD WIDTH="95%">&nbsp;</TD><TD WIDTH="5%"><DIV ALIGN="RIGHT"><A HREF="#arriba"><IMG SRC="pics/subir.gif" BORDER="0"></A></DIV></TD></TR></TABLE></TD><TD WIDTH=1 BACKGROUND=pics/btwd_btmbgr2.gif> 
<DIV ALIGN="right"><IMG HEIGHT=26 
      SRC="pics/btwd_btmmiddle2.gif" WIDTH=23></DIV></TD><TD WIDTH=1> <DIV ALIGN="right"><IMG HEIGHT=26 SRC="pics/btwd_btmrightcorner.gif" 
      WIDTH=7></DIV></TD></TR> </TBODY> </TABLE></TD></TR> </TABLE></TD></TR> 
<TR> <TD HEIGHT="1" nowrap VALIGN="top"><TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0"> 
<TR> <TD WIDTH="88%" BACKGROUND="pics/fondobarratop.jpg">&nbsp;</TD><TD WIDTH="12%" BACKGROUND="pics/fondobarratop.jpg"> 
<DIV ALIGN="left"></DIV></TD></TR> </TABLE></TD></TR> </TABLE>
</BODY>
</HTML>
